<section class="">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">ADD IMAGES</h2>

                <form action="/admin/add-graphic-works" method="POST" enctype="multipart/form-data" class="">
                    
                    <label for="" class="">Titel</label>
                    <input type="text" name="titel" class="form-control">

                     <label for="" class="">Image</label>
                    <input type="file" name="image" class="form-control">

                    <button  class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>