<div class="row">
    <div class="container">
        <div class="col-md-6 pl-5 m-5">
            <h2 class="text-center">Login</h2>
    <form class="" action="/admin/admin-login" method="POST">
        <div class="">
            <label for="" class="">Email</label>
            <input type="email" class="form-control" name="Email" placeholder="Enter email">
             {{!-- {{#if response.user}} --}}
            {{!-- <p style="color: red;" class="">Invalid email addresss</p>
            {{/if}} --}}
            <label for="" class="">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Ener password">
             {{!-- {{#if logginErr}}
            <p style="color: red;" class="">In correct password</p>
            {{/if}} --}}
            {{!-- <a href="/signup" class="">Creat new accound?</a> --}}
            <button class="btn btn-primary float-right mt-1">Login</button>
        </div>
    </form>
    </div>
</div>
</div>