{{!-- <div class="row">
    <div class="container">
        <div class="col-md-6 pl-5 m-5">
            <h2 class="text-center">Signup</h2>
            <form action="/admin/admin-signup" class="" method="post">
            <div>
                <label for="" class="">Email</label>
                <input type="text" class="form-control" name="Email" placeholder="Enter email">

                <label for="" class="">Password</label>
            <input type="text" class="form-control" name="password" placeholder="Enter password">

             <button class="btn btn-primary float-right mt-1">Signup</button>
            </div>

            </form>
        </div>
    </div>
</div> --}}