<section class="">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">EDIT STATIC IMAGES</h2>

                <form action="/admin/edit-static-images/{{staticImages._id}}" method="POST" enctype="multipart/form-data" class="">
                   <label for="" class="">Url</label>
                    <input type="text" name="titel" class="form-control" value="{{staticImages.titel}}">

                     <label for="" class="">staticImage</label>
                    <img src="/works-images/{{staticImages._id}}.jpg" alt="" style="width: 100px;height:100px;padding:10px;" id="staticImageView">
                    <input type="file" name="image" class="form-control" onchange="viewImage(event)">

                    <button  class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    function viewImage(event){
        document.getElementById('staticImageView').src=URL.createObjectURL(event.target.files[0])
    }
</script>