
<header id="site-header" class="fixed-top">
  <div class="container">
      <nav class="navbar navbar-expand-lg stroke">
          <a class="navbar-brand" href="index.html">
              <span class="fa fa-laptop"></span>Designs Hub
          </a>
          <!-- if logo is image enable this   
      <a class="navbar-brand" href="#index.html">
          <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
      </a> -->
          <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
              data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
              <span class="navbar-toggler-icon fa icon-close fa-times"></span>
              </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item @@about__active">
                      <a class="nav-link" href="/about">About</a>
                  </li>
                  <li class="nav-item @@contact__active">
                      <a class="nav-link" href="/plans">Plans</a>
                  </li>
                  <li class="nav-item @@contact__active">
                      <a class="nav-link" href="/contact">Contact</a>
                  </li>
              </ul>
          </div>
          <!-- toggle switch for light and dark theme -->
          <div class="mobile-position">
              <nav class="navigation">
                  <div class="theme-switch-wrapper">
                      <label class="theme-switch" for="checkbox">
                          <input type="checkbox" id="checkbox">
                          <div class="mode-container">
                              <i class="gg-sun"></i>
                              <i class="gg-moon"></i>
                          </div>
                      </label>
                  </div>
              </nav>
          </div>
          <!-- //toggle switch for light and dark theme -->
      </nav>
  </div>
</header>





<section class="plans bg-light m-auto">
    <div class="container p-5">
      <div class="table1">
        <h3 class="text-center p-2 text-white">Graphic Designing Plans</h3>
        <table class="table table-striped">  
  <thead>
    <tr class="">
      <th scope="col">#</th>
      <th scope="col">Models</th>
      <th scope="col">Prize</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Poster Designing</td>
      <td>Rs:150</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Fleyer Designing</td>
      <td>Rs:300</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Broucher Designing</td>
      <td>Rs:300-500</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>ID Card Designing</td>
      <td>Rs:200-400</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Business Card Designing</td>
      <td>Rs:200-500</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Wedding Card</td>
      <td>Rs:300-500</td>
    </tr>
  </tbody>
</table>
</div>


<div class="table2">
 <h3 class="text-center p-2 text-white">Static Web Designing Plans</h3>
        <table class="table table-striped">  
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Models</th>
      <th scope="col">Prize</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>BASIC</td>
      <td>Rs:2999</td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>STANDARD</td>
      <td>Rs:4999</td>
    </tr>
  </tbody>
</table>
</div>


<div class="table3">
 <h3 class="text-center p-2 text-white">Dainamic Web Dewelopment Plans</h3>
        <table class="table table-striped">  
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Models</th>
      <th scope="col">Prize</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>BASIC</td>
      <td>Rs:5999</td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>STANDARD</td>
      <td>Rs:6999</td>
    </tr>
  </tbody>
</table>
</div>
<div class="table-foot">
<h5 class="">BASIC</h5>
<p>Single Page Design , 100% responsive Website , Include Social Media Links</p>
<h5 class="">STANDARD</h5>
<p>Unlimitted Pages and Content ,100% Responsive Website, Ssl Certificet,
        Include Social Media Links, Call And Whatapp button</p>
        </div>
    </div>
</section>

<section class="w3l-footer py-sm-5 py-4">
  <div class="container">
    <div class="footer-content">
      <div class="row">
        <div class="col-lg-8 footer-left">
          <p class="m-0">Nuhman © Copyright 2021. Design by <a href="https://w3layouts.com">AKN CREATIVES</a></p>
        </div>
        <div class="col-lg-4 footer-right text-lg-right text-center mt-lg-0 mt-3">
          <ul class="social m-0 p-0">
            <li><a href="#facebook"><span class="fa fa-facebook-official"></span></a></li>
            <li><a href="#linkedin"><span class="fa fa-linkedin-square"></span></a></li>
            <li><a href="#instagram"><span class="fa fa-instagram"></span></a></li>
            <li><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- move top -->
  <button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fa fa-angle-up"></span>
  </button>
  <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
      scrollFunction()
    };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("movetop").style.display = "block";
      } else {
        document.getElementById("movetop").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script>
  <!-- /move top -->
</section>